/* Establecer el color de fondo de la página */
body {
    background-color: #dbebf3 ; /* Color de fondo deseado */
}

/* Estilos para el encabezado superior */
.encabezado-superior {
    display: flex; /* Utiliza un diseño flexible */
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    padding: 20px; /* Espaciado interno del encabezado */
}

.encabezado-superior img {
    height: 50px; /* Altura deseada */
}

/* Estilos para la imagen del logo */
.encabezado-superior .logo {
    /* Estilos adicionales para el logo */
    width: 150px; /* Ancho de la imagen */
    height: auto; /* Altura automática */
}

.encabezado-superior .buscador {
    width: 1000px; /* Ancho de la imagen */
    height: 60px; /* Altura automática */
    margin: 0 auto; /* Centra horizontalmente */
    
}

/* Estilos para la imagen del logo */
.encabezado-superior .imagenes-header {
    /* Estilos adicionales para el logo */
    width: 50px; /* Ancho de la imagen */
    height: auto; /* Altura automática */
    margin-right: 50px;
}

/* Estilos para la imagen del sonido de timbre */
.encabezado-superior #hogar {
    border: 8px solid rgb(255, 196, 0); /* Establece un borde amarillo */
    border-radius: 5px; /* Añade esquinas redondeadas al borde */
}

/* Estilos para la sección de crear itinerario */
.crear-itinerario {
    text-align: right; /* Alinea el contenido a la derecha */
    margin-top: 10px; /* Espacio superior */
}

.seccion-resaltada div img {
    max-width: 200px; /* Establece un ancho máximo para la imagen */
}

.seccion-resaltada div {
    margin-left: auto; /* Alinea la imagen a la derecha de la pantalla */
}

.ver-itinerario {
    text-align: right; /* Alinea el contenido del contenedor a la derecha */
    margin-top: 10px; /* Espacio superior */
}

.ver-itinerario button {
    /* Estilos para el botón */
    background-color: #fc9432; /* Color de fondo */
    color: black; /* Color del texto */
    border:color(from color srgb r g b); /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    font-size: 30px; /* Tamaño de la fuente */
    margin-left: 610px;
}

/* Estilos para el botón de crear itinerario al pasar el cursor */
.ver-itinerario button:hover {
    background-color: #0056b3; /* Cambio de color de fondo al pasar el cursor */
}

/* Estilos para el botón de crear itinerario */
.crear-itinerario button {
    /* Estilos para el botón */
    background-color: #fc9432; /* Color de fondo */
    color: black; /* Color del texto */
    border:color(from color srgb r g b); /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    font-size: 30px; /* Tamaño de la fuente */
    margin-right: 30px;
}

/* Estilos para la sección del perfil de usuario */
/* Estilos para la imagen del perfil del usuario */
.perfil-usuario img {
    padding: 50px; /* Espaciado interno del encabezado */
    width: 190px;
    /* Ajusta esto al tamaño que desees */
    height: 160px;
    /* Asegúrate de que el alto y el ancho sean iguales para mantener la imagen cuadrada */
    float: left;
    /* Esto alineará la imagen a la izquierda */
    margin-right: 10px;
    /* Esto añadirá un poco de espacio a la derecha de la imagen */
}

.perfil-usuario p {
    font-size: 30px; /* Tamaño de la fuente del nombre */
}    

/* Estilos para la sección del perfil de usuario */
/* Estilos para la imagen del perfil del usuario */
.perfil-usuario2 img {
    padding: 50px; /* Espaciado interno del encabezado */
    width: 190px;
    /* Ajusta esto al tamaño que desees */
    height: 160px;
    /* Asegúrate de que el alto y el ancho sean iguales para mantener la imagen cuadrada */
    float: left;
    /* Esto alineará la imagen a la izquierda */
    margin-right: 10px;
    /* Esto añadirá un poco de espacio a la derecha de la imagen */
}

.perfil-usuario2 p {
    font-size: 30px; /* Tamaño de la fuente del nombre */
}  
#estrella, #mensaje, #like {
    float: right;
    margin-right: 10px; /* Puedes ajustar este valor según el espacio que desees */

}

/* Estilos para la sección resaltada */
.seccion-resaltada {
    background-color: #b2cbfd; /* Color de fondo azul más oscuro */
    color: #fff; /* Color del texto blanco */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio inferior */
    border-radius: 10px; /* Redondea las esquinas */
    margin-left: 300px; /* Margen izquierdo */
    margin-top: 20px; /* Espacio superior */
}

/* Estilos para el contenido de la sección resaltada */
.seccion-resaltada .contenido {
    display: flex; /* Utiliza un diseño flexible */
    align-items: center; /* Alinea los elementos verticalmente al centro */
}

/* Estilos para el párrafo dentro de la sección resaltada */
.seccion-resaltada p1 {
    margin: 0; /* Elimina el margen predeterminado */
    color: #000; /* Color del texto negro */
    font-size: 30px; /* Tamaño de la fuente */
    text-decoration: underline; /* Subraya el texto */
}

/* Estilos para el párrafo dentro de la sección resaltada */
.seccion-resaltada div p {
    margin: 0; /* Elimina el margen predeterminado */
    color: #000; /* Color del texto */
    font-size: 30px; /* Tamaño de la fuente */
}

/* Estilos para el segundo párrafo dentro de la sección resaltada */
.seccion-resaltada div p:nth-child(2) {
    margin-top: 40px; /* Añade un margen superior entre los párrafos */
}

/* Estilos para el pie de página */
footer {
    background-color: #9FCFEB;
    color: #343b41;
    text-align: center;
    font-size: 20px; /* Tamaño de la fuente */
    padding: 10px 0;
}