body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #82CAF0;
    padding-left: 70px;
    padding-right: 90px;
padding-top: 5px;
padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    margin-left: 60px;
    width: 350px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
margin-right: 10px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex:1;
}

button {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    background-color: #FF963F;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #e18336;
}

.forgot-password{
margin: 20px;
color: black;
}